                     
                      
                      .custom-carets .dropdown-toggle::after{
                        /* Style to reverse the caret icon from pointing downwards to upwards */
                         /*border:0;*/
                         display:none;
                        }
                        .caret:after{
                            font: normal normal normal; 
                         font-family: FontAwesome;
                         content: "\f107";
                        }
                       .menu-upperline:hover{
                           opacity:1;
                           color: rgb(24, 0, 92);
                           
                           border-top:  5px solid rgb(24, 0, 92);
    
                       }
                       .menu-text-single:hover{
                        opacity:1;
                        color: rgb(24, 0, 92);
                        
                        border-top:  5px solid rgb(24, 0, 92);
 
                    }
    
                       .drop:hover .dropdown-menu {
                           opacity:1;
                           /*background-color:rgb(203, 199, 253);*/
                           display: block;}
                       .nav-link:hover{
                           color: rgb(24, 0, 92);
                           /*color:white;*/
                        opacity:1;
    
                       }
                       
                       .drop:hover .dropdown-menu .dropdown-item:hover{
                        color: rgb(24, 0, 92);
                        background-color: #11e88d;

                    }
                       .search::after{
                         opacity:1;
                        font-family: FontAwesome;
                         content: "\f002";
                       }
                       .sticky-offset {
        top: 3px;
    }
    .upbackground{
     opacity:0.5;
    }
    .scrolled{
        opacity:1 !important;
    }
    .right.carousel-control, .left.carousel-control {
        opacity: 0;
        filter:alpha(opacity=0); /* IE support */
    }
    