/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2019.07.15., 14:28:06
    Author     : Dell7720
*/


.container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.myimage {
    width: 100%;
    height: 100%;
    background: url("../Pictures/asztal11GIF.gif");
    background-position: center center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-size: cover; 
    
}
