/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2019.07.13., 16:00:27
    Author     : Dell7720
*/

#fadeout {
  opacity: 1;
  transition: 1s opacity;
  text-align: center;
  font-size:32px;
}

p {
  text-align: center;
}

