/*Beszabályozza a scroll ablak max méretét*/
.nav-text .box{
    max-width:330px;
    width: auto;
    height: auto;  
  }
  /*Beszabályozza a scroll ablak max méagasságát*/
  .nav-item .eventscroller {
   height: 50px;	
   overflow: hidden;
   position: relative;
  }
  /*Beszabályozza a scroll textet max méretét*/
  .nav-item .eventscroller h3 {
   font-size: 3em;
   color: limegreen;
   position: absolute;
   width: 100%;
   height: 100%;
   margin: 0;
   line-height: 50px;
   text-align: center;
   /* Starting position */
   -moz-transform:translateX(100%);
   -webkit-transform:translateX(100%);	
   transform:translateX(100%);
   /* Apply animation to this element */	
   -moz-animation: eventscroller 15s linear infinite;
   -webkit-animation: eventscroller 15s linear infinite;
   animation: eventscroller 15s linear infinite;
  }
  /* Move it (define the animation) */
  @-moz-keyframes eventscroller {
   0%   { -moz-transform: translateX(100%); }
   100% { -moz-transform: translateX(-100%); }
  }
  @-webkit-keyframes eventscroller {
   0%   { -webkit-transform: translateX(100%); }
   100% { -webkit-transform: translateX(-100%); }
  }
  @keyframes eventscroller {
   0%   { 
   -moz-transform: translateX(100%); /* Firefox bug fix */
   -webkit-transform: translateX(100%); /* Firefox bug fix */
   transform: translateX(100%); 		
   }
   100% { 
   -moz-transform: translateX(-100%); /* Firefox bug fix */
   -webkit-transform: translateX(-100%); /* Firefox bug fix */
   transform: translateX(-100%); 
   }
  }