.custom-carets .dropdown-toggle::after{
    /* Style to reverse the caret icon from pointing downwards to upwards */
     /*border:0;*/
     display:none;
    }
    .caret:after{
        font: normal normal normal; 
     font-family: FontAwesome;
     content: "\f107";
    }    