svg {
    display: block;
    margin:auto;
      transform: rotate(-90deg);
  }
  
  .donut {
    display: block;
    margin:auto;
    align-self: center;
    stroke-dasharray: 440;
    -webkit-animation: donut 2s ease-out forwards;
    animation: donut 2s ease-out forwards;
  }
  
  @-webkit-keyframes donut {
    from {
      stroke-dashoffset: 440;
    }
  }
  
  @keyframes donut {
    from {
      stroke-dashoffset: 440;
    }
  }