 @charset "Latin2";
/*Megadja a progress bar színgradiensét pirostól-zöldig*/
.progressQ {
    position: relative;
    height: 31px;
    background: rgb(255, 0, 0);
    background: -moz-linear-gradient(left, rgba(13, 54, 106, 1) 0%, rgba(0, 255, 0, 1) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(13, 54, 106, 1)), color-stop(100%, rgba(0, 255, 0, 1)));
    background: -webkit-linear-gradient(left, rgb(13, 54, 106,1) 0%, rgba(0, 255, 0, 1) 100%);
    background: -o-linear-gradient(left, rgba(13, 54, 106, 1) 0%, rgba(0, 255, 0, 1) 100%);
    background: -ms-linear-gradient(left, rgba(13, 54, 106, 1) 0%, rgba(0, 255, 0, 1) 100%);
    background: linear-gradient(to right, rgba(13, 54, 106, 1) 0%, rgba(0, 255, 0, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff0000', endColorstr='#00ff00', GradientType=1);
  }
  /*Megadja a 100%-ból hátralevő mennyiséget(amin nem lesz piros zöld csík)*/
  .amount {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    transition: all 2s;
    background: lightblue;
    width: 100%;
  }
  /*Ráteszi a % értéket szövegesen a progress barra*/
  .progressQ:before {  
    content: "Megszerzett Q sz\00e1zal\00e9k: "attr(data)"% megszerezve";
    color: blue;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    text-align: center;
    line-height: 31px;
  }